*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    height: 100%;
    max-width: 1600px;
    position: relative;
    min-width: 800px;
    display: grid;
    justify-content: center;
}

body::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 0;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.page__heading:hover::before {
    /* правила для тултипа */
    content: 'На самом деле нет.\AВажнее &mdash; научиться ошибаться.';
    white-space: pre;
    position: absolute;
    top: 182px;
    right: 22px;
    left: auto;
    box-shadow: 0 14px 0 currentColor;
    display: block;
    background-color: #FFF;
    border-radius: 20px;
    border: 2px solid currentColor;
    padding: 36px 44px;
    color: #000;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    text-transform: none;
    text-align: left;
    max-width: 742px;
    letter-spacing: normal;
}

.page__heading {
    margin-top: 60px;
    color: #000;
    text-align: center;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 116px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 4.06px;
    text-transform: uppercase;
    z-index: 1;
    max-width: 740px;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
}

.page__heading::after {
    content: "*";
}

.page__heading:hover {
    color: #4C4C4C;
    cursor: default;
}